<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Directivas VUE v-bind</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/estilos.css">
</head>

<body>

    <!-- v-bind permite enlazar atributos -->

    <section id="oxxo">
        <header>
            <h1>OXXO</h1>
        </header>
        <main>
            <section class="principal">
                <article class="col-9">
                    <table class="col-8 offset-2 mt-5">
                        <tr>
                            <th class="col-1"></th>
                            <th class="col-5">Cantidad</th>
                            <th class="col-2">Descripción</th>
                            <th class="col-2">Precio</th>
                            <th class="col-2">Importe</th>
                        </tr>
                        <tr v-for="(datos, index) in lista" :key="index">
                            <td><button class="btn" @click="borrar(index)"><img src="img/bote-de-basura.png" style="width: 30px;" alt="Bote-de-basura"></button></td>
                            <td>
                                <button class="btn btn-primary" @click="datos.cantidad++">+</button>
                                <input type="number" v-model="datos.cantidad" readonly>
                                <button class="btn btn-danger" @click="datos.cantidad > 1 && datos.cantidad--">-</button>
                            </td>
                            <td>{{ datos.nombre }}</td>
                            <td>${{ datos.precio }}</td>
                            <td>${{ datos.precio*datos.cantidad }}</td>
                        </tr>
                    </table>
                    <div class="row col-8 offset-2 text-center my-4">
                        <p>Productos: {{cant}}</p>
                        <table>
                            <tr>
                                <th class="col-6">Subtotal:</th>
                                <td>${{subtotal}}</td>
                            </tr>
                            <tr>
                                <th class="col-6">IVA:</th>
                                <td>${{iva}}</td>
                            </tr>
                            <tr>
                                <th class="col-6">Total:</th>
                                <td>${{total}}</td>
                            </tr>
                        </table>
                    </div>
                </article>
                <form @submit.prevent="agregar" class="col-3">
                    <p>Nombre:</p>
                    <input type="text" class="form-control" v-model="nombre">
                    <p>Cantidad:</p>
                    <input type="number" class="form-control" v-model="cantidad">
                    <p>Precio:</p>
                    <input type="number" class="form-control" v-model="precio">
                    <button type="submit" class="btn colorb" @click="agregar()">Agregar</button>
                </form>
            </section>
        </main>




    </section>
    <script src="js/vue.js"></script><!--Ejemplo dos de como vincular vue sin internet-->
    <script src="js/script.js"></script>
    <!--script>
        const mountedApp = app.mount('#app')
    </script-->
</body>

</html>